
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
Name[en_GB]=Right Hand Rosgui
Exec=xterm -hold -title "right hand rosgui" -e "~/bin/start_right_hand_rosgui.sh"
Name=Right Hand Rosgui
Icon=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
