[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=bash -i -c 'rqt -s sr_gui_joint_slider.joint_slider.SrGuiJointSlider'
Name=Hand Sliders
Icon=/usr/local/share/icons/shadowrobot/gnome-nettool.svg
StartupNotify=true
