[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xterm -title "Hand Simulation" -e bash -i -c 'roslaunch sr_robot_launch srhand.launch sim:=true'
Name=Simulate Hand
Icon=/usr/share/icons/hicolor/scalable/apps/gazebo.svg
