---
# Finalising the python code coverage tasks (combining files and exporting to xml)

- name: Find all .coverage files in {{ros_workspace}}
  shell: find -type f -name .coverage -printf "%h\n" chdir={{ros_workspace}}
  register: coverage_paths_list

- name: Set variable to workaround ansible type evaluation issue
  set_fact:
    coverage_paths_list_stdout_lines: "{{coverage_paths_list.stdout_lines}}"

- name: Loop through coverage files
  shell: cp {{item.1}}/.coverage {{code_coverage_results_dir}}/.coverage.{{item.0}} chdir={{ros_workspace}}
  with_indexed_items: "{{coverage_paths_list_stdout_lines|default([])}}"
  when: item != ""
  ignore_errors: True

- name: Combine the coverage files
  shell: bash -c 'coverage combine' chdir={{code_coverage_results_dir}}
  ignore_errors: True

- name: Generate xml for the coverage
  shell: coverage xml chdir={{code_coverage_results_dir}}
  ignore_errors: True
