[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xterm -hold -title "rviz" -e "bash -i -c 'rqt'"
Name=Rqt
Icon=/opt/ros/hydro/share/rviz/icons/package.png
