---
# VSCode IDE installation

- name: Update package lists
  apt: update_cache=yes
  become: yes

- name: Install VSCode from Internet
  apt: deb=https://go.microsoft.com/fwlink/?LinkID=760868 force=yes
  become: yes

- name: Create easy access symlink
  file: src=/usr/share/code/code dest=/usr/bin/vscode state=link
  become: yes

- name: Remove vscode list from sources
  file:
    state: absent
    path: /etc/apt/source.list.d/vscode.list
  become: yes