
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
Name[en_GB]=Right Tactile Visualize
Exec=xterm -hold -title "tactile" -e "~/scripts/start_right_hand_tactile.sh"
Name=Right Tactile Visualize
Icon=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
