
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/hicolor/scalable/apps/gdu-emblem-raid0.svg
Name[en_GB]=Roscore
Exec=xterm -hold -title "roscore" -e "~/scripts/start_roscore.sh"
Name=Roscore
Icon=/usr/share/icons/hicolor/scalable/apps/gdu-emblem-raid0.svg
