
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=gnome-panel-launcher
Name[en_GB]=Store Position
Exec=xterm -hold -title "store" -e "~/scripts/start_store_position.sh"
Name=Store Position
Icon=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
