# Example config file for github-trell-sync script.

# API key for accessing Trello API. Get a key from:
# https://trello.com/docs/gettingstarted/index.html#getting-an-application-key
trello_api_key: 2d0b........................3t5c
# Trello API token, needed for write access to the API. To get one, run the
# script with the api key set, the first line of log output will be a token
# url. Open that in a browser while logged into Trello to get a token.
trello_token: cd9............................................5417e2
# The id of the board to work on (found in boards url).
#trello_board_id: fnCbWCKD

# Login details for github account
github_user: user
github_password: password
# Name of the github organisation to sync. User will need write access.
#github_organization: 'shadow-robot'

# Extra user mapping. By default any users who have the same username on github
# and trello (within the given github organisation and trello board membership) will be
# automatically linked. If the names differ add a mapping here, key is github
# user name and value the trello user name. e.g.
github_2_trello_user:
    toliver: tonioliver

# Log level. DEBUG, WARNING, ERROR, INFO, CRITICAL
#log_level: WARN

