[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=xterm -title "GlassBot" -e bash -i -c 'roslaunch glassbot glassbot_real.launch'
Name=GlassBot
Icon=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
Name[en_US]=GlassBot
