[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=bash -i -c 'rosrun rviz rviz'
Name=Rviz
Icon=/opt/ros/hydro/share/rviz/icons/package.png
