
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/hand.png
Name[en_GB]=Blockly Frontend Launch
Exec=xterm -hold -title "Robot Blockly" -e "bash -i -c 'xdg-open http://localhost:8000/pages/blockly.html &'"
Name=Blockly Frontend Launch
Icon=/usr/local/share/icons/shadowrobot/hand.png
