
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/hand.png
Name[en_GB]=Blockly Backend Launch
Exec=xterm -hold -title "Robot Blockly" -e "bash -i -c 'roslaunch robot_blockly robot_blockly.launch'"
Name=Blockly Backend Launch
Icon=/usr/local/share/icons/shadowrobot/hand.png
