
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
Name[en_GB]=Left Hand Rosgui
Exec=xterm -hold -title "left hand rosgui" -e "bash -i -c 'roslaunch sr_ethercat_hand_config lhand_gui.launch'"
Name=Left Hand Rosgui
Icon=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
