
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/robot_monitor.png
Name[en_GB]=Left Hand Robot Monitor
Exec=xterm -hold -title "left hand robot monitor" -e "bash -i -c roslaunch sr_ethercat_hand_config lhand_robot_monitor.launch"
Name=Left Hand Robot Monitor
Icon=/usr/local/share/icons/shadowrobot/robot_monitor.png
