
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=gnome-panel-launcher
Name[en_GB]=Left Hand Demo
Exec=xterm -hold -title "demo" -e "bash -i -c 'roslaunch sr_ethercat_hand_config lhand_demo.launch'"
Name=Left Hand Demo
Icon=/usr/share/icons/hicolor/scalable/apps/gnome-nettool.svg
GenericName[en_GB.utf8]=Left Demo of the hand
Comment[en_GB.utf8]=Press the fingertips to move the hand
