
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/hand.png
Name[en_GB]=Right Hand Tactile
Exec=xterm -hold -title "Right Hand Tactile" -e "bash -i -c 'rostopic echo /rh/tactile'"
Name=Right Hand Tactile
Icon=/usr/local/share/icons/shadowrobot/hand.png
