
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/robot_monitor.png
Name[en_GB]=Right Hand Robot Monitor
Exec=xterm -hold -title "right hand robot monitor" -e "bash -i -c 'roslaunch sr_ethercat_hand_config rhand_robot_monitor.launch'"
Name=Right Hand Robot Monitor
Icon=/usr/local/share/icons/shadowrobot/robot_monitor.png
