
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/roscore.png
Name[en_GB]=Roscore
Exec=xterm -hold -title "roscore" -e "bash -i -c roscore"
Name=Roscore
Icon=/usr/local/share/icons/shadowrobot/roscore.png
