
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/rqt.png
Name[en_GB]=ROS Gui
Exec=xterm -hold -title "rqt_gui" -e "bash -i -c 'rqt'"
Name=ROS Gui
Icon=/usr/local/share/icons/shadowrobot/rqt.png
