
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/rqt.png
Name[en_GB]=Rosgui
Exec=xterm -hold -title "right hand rosgui" -e "bash -i -c 'rqt'"
Name=Rosgui
Icon=/usr/local/share/icons/shadowrobot/rqt.png
