
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/rviz.png
Name[en_GB]=Rviz
Exec=xterm -hold -title "rviz" -e "bash -i -c 'rosrun rviz rviz'"
Name=Rviz
Icon=/usr/local/share/icons/shadowrobot/rviz.png
