
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=/usr/local/share/icons/shadowrobot/store.png
Name[en_GB]=Store Position
Exec=xterm -hold -title "store" -e "bash -i -c 'roslaunch sr_ethercat_hand_config all_hands_store.launch'"
Name=Store Position
Icon=/usr/local/share/icons/shadowrobot/store.png
